.card-body a {
  text-decoration: none;
  color: white;
}

.card-body a:hover {
  color: gray;
}

.card-body{
  color: white;

}
.card{
  background-color: #1A1A2E;
}

body {
  background-color: #2C2C2C; 
  color: white;
}

.info {
  background-color: #1A1A2E;
  color: white;
  border: none;
}


hr.invisible {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.card-info{
  background-color: none;
}

